/* @import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap'); */

@font-face {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('League Spartan'), url(https://img1.wsimg.com/blobby/go/font/LeagueSpartan/LeagueSpartan.woff2) format('woff2'),
     url(https://img1.wsimg.com/blobby/go/font/LeagueSpartan/LeagueSpartan.woff) format('woff');
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("resources/images/S7extra6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar { /* Note: webkit isn't supported by Firefox. I will add support later with scrollbar-width */
    display: none;
}

#centerunited {
    font-family: 'League Spartan';
    position: relative;
    top: 160px; /* Change text to the middle of the screen. */
    text-align: center;
    color: white;
    font-size: 62px;
}

#undercenter {
    position: relative;
    top: 135px; /* Change text to the middle of the screen. */
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    display: block; /* This and margin fixes the weird center problem */
    margin: auto;
}

#undercenterdsc {
    text-decoration: none;
    position: relative;
    top: 135px; /* Change text to the middle of the screen. */
    text-align: center;
    color: black;
    font-family: 'League Spartan';
    font-size: 22px;
    display: inherit; /* This and margin fixes the weird center problem (inherit or block)*/
    margin: 24px, 0px;
    background: white;
    padding: 8px, 32px;
}

/* HEADER */

#topleftunited {
    font-family: 'League Spartan';
    color: white;
}

.hline-bottom {
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
    position: relative;
    top: -120px; 
    padding: 0px;
}

header {
    font-family: 'Roboto Thin';
    position: relative;
    top: -90px; /* Puts the header stuff up. */
    padding: 20px;
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

ul {
    list-style-type: none;
    text-align: right;
    list-style-position: inside; /* This is so the unordered list can be aligned. */
    padding: 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }
  
li {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    text-align: right;
}

footer {
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
}